{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block body %}

<div class="d-flex justify-content-center align-items-center container ">

    <div class="row ">
        {% if 'logged_in' in session and session['user']['access_level']>= 10%}
            
            <a type="button" class="btn btn-success" href="{{url_for('create_news')}}">Добавить новость</a> 
        {% endif %}

        {% for new in news %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ new['title'] }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{new['create_date']}}</h6>
                <p class="card-text">{{ new['text'] }}</p>
            </div>
          </div>
        {% endfor %}

    </div>

</div>
{% endblock %}